<br><br>
<div class="card">
    <div class="card-body">
      <h4 class="card-title">{{ nombre }}</h4>
      <hr class="my-3">
      <p class="card-text">Zona: {{zona}}</p>
      <p class="card-text">Descripcion: {{ descripcion }}</p>
      <p class="card-text">Encargado: {{encargado}}</p>
      <a *ngIf="abierto == true" class="card-link">Abierto</a>
      <a *ngIf="abierto == !true" class="card-link">Cerrado</a>
      <hr class="my-3">
      <button type="button" class="btn btn-primary btn-block btn-lg" (click)="emitirEvento()"> <i class="fa fa-sign-in"> Mostrar Datos del Padre </i></button>
      <hr class="my-3">
    </div>
  </div>